niord-uk-s125/src/main/resources/xsd/S125.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:S100="http://www.iho.int/s100gml/1.0"
           xmlns:s100_profile="http://www.iho.int/S-100/profile/s100_gmlProfile"
           xmlns:gml="http://www.opengis.net/gml/3.2" xmlns="http://www.iho.int/S125/gml/1.0"
           targetNamespace="http://www.iho.int/S125/gml/1.0"
           elementFormDefault="unqualified" version="0.0.0">
    <!-- ============================================================================================= -->
    <!-- S100 XML/GML Schema for S-125 (Aids to Navigation).                                       -->
    <!-- ============================================================================================= -->
    <xs:annotation>
        <xs:documentation>Application schema for Navigational warnings sample dataset</xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.iho.int/s100gml/1.0" schemaLocation="s100gmlbase.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="S100_gmlProfile.xsd"/>
    <xs:import namespace="http://www.iho.int/S-100/profile/s100_gmlProfile" schemaLocation="S100_gmlProfileLevels.xsd"/>
    <!-- =============================================== -->
    <!-- spatial property convenience types    -->
    <!-- =============================================== -->
    <xs:complexType name="PointOrSurface">
        <xs:choice>
            <xs:element ref="S100:pointProperty"/>
            <xs:element ref="S100:surfaceProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CurveOrSurface">
        <xs:choice>
            <xs:element ref="S100:curveProperty"/>
            <xs:element ref="S100:surfaceProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PointCurveSurface">
        <xs:choice>
            <xs:element ref="S100:pointProperty"/>
            <xs:element ref="S100:curveProperty"/>
            <xs:element ref="S100:surfaceProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PointOrCurve">
        <xs:choice>
            <xs:element ref="S100:pointProperty"/>
            <xs:element ref="S100:curveProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GM_Point">
        <xs:choice>
            <xs:element ref="S100:pointProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GM_Curve">
        <xs:choice>
            <xs:element ref="S100:curveProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GM_Surface">
        <xs:choice>
            <xs:element ref="S100:surfaceProperty"/>
        </xs:choice>
    </xs:complexType>
    <!-- ============================================================ -->
    <!-- complex attributes, feature, and information types           -->
    <!-- ============================================================ -->
    <xs:element name="S125_FeatureType" type="S125_FeatureTypeType" abstract="true" substitutionGroup="gml:AbstractFeature"/>
    <xs:complexType name="S125_FeatureTypeType" abstract="true">
        <xs:annotation>
            <xs:documentation>Generalized feature type which carry all the common attributes</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="S100:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="maritimeResourceName" type="MRN" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="S125_featureName" type="S125_featureNameType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="geometry" type="PointCurveSurface" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="S125_fixedDateRange" type="S125_fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="S125_atonType" type="S125_atonType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="S125_deploymentType" type="S125_deploymentType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="S125_typeOfVDEMessage" type="S125_VDEMessageType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="S125_typeOfEPDF" type="S125_EPFDType" minOccurs="0"/>
                    <xs:element name="raimFlag" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="vatonFlag" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="S125_featureNameType">
        <xs:annotation>
            <xs:documentation>Generalised name of an S-125 feature carrying all common attributes </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="displayName" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A statement expressing if a feature name is to be displayed in certain display settings or not.</xs:documentation>
                    <xs:documentation>Indication: Boolean. A True value is an indication that the name is intended to be displayed.</xs:documentation>
                    <xs:documentation>Remarks:</xs:documentation>
                    <xs:documentation>Where it is allowable to encode multiple instances of feature name for a single feature instance, only one feature name instance can indicate that the name is to be displayed (display name set to True) </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The language is encoded by a character code following ISO 639-3</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The individual name of a feature.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S125_fixedDateRangeType">
        <xs:annotation>
            <xs:documentation>Describes a single fixed period, as the date range between its sub-attributes.
                Remarks: Sub-attributes date end and date start must have the calendar year encoded using 4 digits for the calendar year (CCYY). Month (MM) and day (DD) are optional.
                (This definition merges the planned S-100 temporal model with the current S-101 DCEG definition of fixed date range.)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="timeOfDayStart" type="xs:time" minOccurs="0" maxOccurs="1"/>
            <xs:element name="timeOfDayEnd" type="xs:time" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dateStart" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The start date or time of the interval.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dateEnd" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The end date or time of the interval.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MRN">
        <xs:annotation>
            <xs:documentation>Marine Resource Name identifier, based on URN. Note that the NID, including the mrn: prefix can be no more than 31 characters long</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="urn:mrn:[A-Za-z0-9][A-Za-z0-9-]{0,27}:[A-Za-z0-9()+,\-.:=@;$_!*'%/?#]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S125_atonType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Default">
            </xs:enumeration>
            <xs:enumeration value="Reference Point">
            </xs:enumeration>
            <xs:enumeration value="RACON">
            </xs:enumeration>
            <xs:enumeration value="Fixed Off Shore">
            </xs:enumeration>
            <xs:enumeration value="Emergency Wreck Marking Buoy">
            </xs:enumeration>
            <xs:enumeration value="Light, Without sectors">
            </xs:enumeration>
            <xs:enumeration value="Light, With sectors">
            </xs:enumeration>
            <xs:enumeration value="Leading Light Front">
            </xs:enumeration>
            <xs:enumeration value="Leading Light Rear">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Cardinal N">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Cardinal E">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Cardinal S">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Cardinal W">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Port hand">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Starboard hand">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Preferred Channel port hand">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Preferred Channel starboard hand">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Isolated danger">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Safe water">
            </xs:enumeration>
            <xs:enumeration value="Beacon, Special mark">
            </xs:enumeration>
            <xs:enumeration value="Cardinal Mark N">
            </xs:enumeration>
            <xs:enumeration value="Cardinal Mark E">
            </xs:enumeration>
            <xs:enumeration value="Cardinal Mark S">
            </xs:enumeration>
            <xs:enumeration value="Cardinal Mark W">
            </xs:enumeration>
            <xs:enumeration value="Port hand Mark">
            </xs:enumeration>
            <xs:enumeration value="Starboard hand Mark">
            </xs:enumeration>
            <xs:enumeration value="Preferred Channel Port hand">
            </xs:enumeration>
            <xs:enumeration value="Preferred Channel Starboard hand">
            </xs:enumeration>
            <xs:enumeration value="Isolated danger">
            </xs:enumeration>
            <xs:enumeration value="Safe Water">
            </xs:enumeration>
            <xs:enumeration value="Special Mark">
            </xs:enumeration>
            <xs:enumeration value="Light Vessel/LANBY/Rigs">
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S125_deploymentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Shore">
            </xs:enumeration>
            <xs:enumeration value="Ship">
            </xs:enumeration>
            <xs:enumeration value="Mobile">
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S125_VDEMessageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="G-Message">
            </xs:enumeration>
            <xs:enumeration value="G-Message">
            </xs:enumeration>
            <xs:enumeration value="M-Message">
            </xs:enumeration>
            <xs:enumeration value="U-Message">
            </xs:enumeration>
            <xs:enumeration value="B-Message">
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S125_EPFDType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="undefined">
            </xs:enumeration>
            <xs:enumeration value="GPS">
            </xs:enumeration>
            <xs:enumeration value="GLONASS">
            </xs:enumeration>
            <xs:enumeration value="Combined GPS/GLONASS">
            </xs:enumeration>
            <xs:enumeration value="Loran-C">
            </xs:enumeration>
            <xs:enumeration value="Chayka">
            </xs:enumeration>
            <xs:enumeration value="Integrated Navigation System">
            </xs:enumeration>
            <xs:enumeration value="Surveyed">
            </xs:enumeration>
            <xs:enumeration value="Galileo">
            </xs:enumeration>
            <xs:enumeration value="Internal GNSS">
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <!-- =============================================== -->
    <!-- common types - consider defining a common -->
    <!-- =============================================== -->
    <xs:complexType name="S100_TruncatedDate">
        <xs:annotation>
            <xs:documentation>built in date types from W3C XML schema, implementing S-100 truncated date</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="gDay" type="xs:gDay"/>
            <xs:element name="gMonth" type="xs:gMonth"/>
            <xs:element name="gYear" type="xs:gYear"/>
            <xs:element name="gMonthDay" type="xs:gMonthDay"/>
            <xs:element name="gYearMonth" type="xs:gYearMonth"/>
            <xs:element name="date" type="xs:date"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ISO639-3">
        <xs:annotation>
            <xs:documentation>stub for ISO 639-3 language codes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\w{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO639-2">
        <xs:annotation>
            <xs:documentation>stub for ISO 639-2 language codes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\w{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3166-alpha2">
        <xs:annotation>
            <xs:documentation>stub for ISO 3166 alpha2 country codes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\w{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ============================================= -->
    <!-- types and elements for the dataset definition -->
    <!-- ============================================= -->
    <xs:complexType name="DatasetType">
        <xs:annotation>
            <xs:documentation>Dataset element for Navigational Warnings dataset as "GML document"</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="DatasetIdentificationInformation" type="S100:DataSetIdentificationType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Dataset identification information</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DatasetStructureInformation" type="S100:DataSetStructureInformationType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Dataset structure information</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:group ref="S100:Geometry" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Allows spatial objects to be located outside feature objects (for references, and compatibility with ISO 8211 encoding)</xs:documentation>
                        </xs:annotation>
                    </xs:group>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="member" minOccurs="0" maxOccurs="unbounded" type="MemberType">
                            <xs:annotation>
                                <xs:documentation>intended for technical GML 3.2 requirement for making the dataset a "GML document" and clause 21.3 of the OGC GML standard</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- treatment of S-100 Information types is provisional, because GML does not have the concept, and they must be modeled as AbstractGML -->
    <xs:complexType name="MemberType">
        <xs:annotation>
            <xs:documentation>dataset member</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureMemberType">
                <xs:sequence>
                    <xs:element ref="gml:AbstractFeature" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DataSet" type="DatasetType"/>
</xs:schema>